<html>

<head>

<style>

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}

</style>

</head>

<body>
<h1>SIGN IN</h1>
<div class="page-header">SIGN IN AS AN ADMIN HERE TO ACCESS ADMIN FUNCTIONALITIES</div>

  <form ng-controller="adminsignCtrl" ng-submit="login(credentials)">

    <label>Username</label>
    <input class="form-control" type = "text" name="username" placeholder="Please enter the username" ng-model="credentials.username">
    <br>
    <br>

    <label>Password</label>
    <input class="form-control" type = "password" name="password" placeholder="Please enter the password" ng-model="credentials.password">
    <br>
    <br>

<button class="btn btn-primary" type="submit">Sign In</button>

  </form>

  <!--<div class="jumbotron text-center" ng-show="main1.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading....</p>
  </div>


  <div class="row show-hide-message" ng-show="main1.successMsg">
    <div class="alert alert-success">{{main1.successMsg}}</div>
  </div>
  <br>

  <div class="row show-hide-message" ng-show="main1.errorMsg">
    <div class="alert alert-danger">{{main1.errorMsg}}</div>
  </div>
  <br>-->



</body>
<footer>
  <div class="footer">
    <p>For further details about us you can contact us on </p><a href="mailto:hegdeshailesh90@gmail.com">Shailesh Hegde</a>
  </div>
</footer>
</html>
