<html>
<head>
<style>

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


</style>
</head>


<body>

<h1>ADMIN FUNCTIONALITIES</h1>
<br>
<br>
<br>

<form ng-controller="adminmainPageCntrl">

  <button class="button" ng-click="init4()">add new entities</button>

<br>
<br>
<br>

<button class="button" ng-click="init5()">careers</button>


</form>

</body>
</html>
